:root {
  --main-color: #2196F3;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --first-color: #FFFFFF;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   color: var(--first-text-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    display: block;
    padding: 20px;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    background: var(--first-color);
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.header-studio-link,
.header-portfolio-link,
.header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
}

.header-studio-link:hover,
.header-studio-link:focus {
color: var(--main-color);
}
.header-portfolio-link:hover,
.header-portfolio-link:focus {
    color: var(--main-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: var(--main-color);
 }

.header-mail-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.header-mail-link:hover,
.header-mail-link:focus {
    color: var(--main-color);
}

.header-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.header-tel-link:hover,
.header-tel-link:focus {
    color: var(--main-color);
}

.subject {
    background: #2F303A;
}

.subject-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-color);
}

.subject-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--first-color);

    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}

.subject-button:hover,
.subject-button:focus {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--first-color);

    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.about-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-text-color);
}

.about-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.aside-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

.hero {
    background: #F5F4FA;
}

.hero-main {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

.hero-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

.hero-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.footer {
    background: #2F303A;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--first-color);
}

.footer-logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.footer-address {
    font-style: normal;
}

.footer-address-link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--first-color);
}

.footer-address-link:hover,
.footer-address-link:focus {
    color: var(--main-color);
}

.footer-mail-link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail-link:hover,
.footer-mail-link:focus {
    color: var(--main-color);
}

.footer-tel-link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel-link:hover,
.footer-tel-link:focus {
    color: var(--main-color);
}

.menu-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);

    background: #F5F4FA;
    border-radius: 4px;
    
    cursor: pointer;
}

.menu-button:hover,
.menu-button:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-color);

    background: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-text-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}